---
// SearchBar.astro
// Этот компонент включает в себя форму поиска
// Добавьте сюда скрипт для обработки поиска
---
<form class="search-bar flex items-center rounded-full bg-gray-100">
    <input
      type="text"
      placeholder="поиск статей"
      class="flex-grow px-4 py-2 rounded-l-full bg-white text-gray-700 focus:outline-none"
    />
    <button
      type="submit"
      class="px-4 py-2 bg-sky-800 text-white rounded-r-full hover:bg-blue-600 focus:outline-none"
    >
      Поиск
    </button>
  </form>